import React, { FC } from 'react';
{{#if options.useTypesInComponent}}
{{else}}
import { {{ uppercaseFirstLetter (toCamelCase name) }}Props } from './types';
{{/if}}
{{#if options.noStyle}}
{{else}}
import styles from './index.css';
{{/if}}

{{#if options.useTypesInComponent}}
  {{#if options.useTypeAsKeyWord}}
type {{uppercaseFirstLetter (toCamelCase name)}}Props = {};
  {{else}}
interface {{uppercaseFirstLetter (toCamelCase name)}}Props {}
  {{/if}}

{{/if}}
{{#if options.noStyle}}
export const {{ uppercaseFirstLetter (toCamelCase name) }}: FC<{{uppercaseFirstLetter (toCamelCase name)}}Props> = (props) => {
  return <h1>Hello</h1>;
};
{{else}}
export const {{ uppercaseFirstLetter (toCamelCase name) }}: FC<{{uppercaseFirstLetter (toCamelCase name)}}Props> = (props) => {
  return <h1 className={styles.root}>Hello</h1>;
};
{{/if}}
